.formVenta {
  padding: 80px 20px 20px 20px;

  &__form {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: $br-md;
    box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.13);
    position: relative;

    &--titleCont {
      display: flex;
      justify-content: center;
    }

    &--title {
      position: absolute;
      width: 90%;
      height: 110px;
      background-color: $primary;
      border-radius: $br-md;
      top: -55px;
    }

    &--nombre {
      margin-bottom: 15px;
      padding: 70px 20px 20px 20px;
      border-radius: $br-md;

      &--clienteSelect {
        margin: 5px;
        border-radius: $br-sm;
        padding: 7px 10px;
        width: 96%;
        height: 40px;
        border: 1px solid $gray;
      }

      &--cliente {
        margin-top: 15px;
      }

      &--input {
        margin: 5px;
        border-radius: $br-sm;
        padding: 7px 10px;
        width: 47%;
        height: 40px;
        border: 1px solid $gray;
      }
    }

    // producto ----------------------

    &--producto {
      &--item {
        border: 1px solid $gray-op;
        width: 80%;
        margin: 0 auto;
        border-radius: 15px;
        width: 90%;
        margin-top: 35px;
        padding: 15px;
        position: relative;

        select {
          margin: 5px;
          border-radius: $br-sm;
          padding: 7px 10px;
          width: 80%;
          height: 40px;
          border: 1px solid $gray;
        }

        &--cantidad {
          margin: 5px;
          border-radius: $br-sm;
          padding: 7px 10px;
          width: 15%;
          height: 40px;
          border: 1px solid $gray;
        }

        &--precio {
          font-size: 20px;
          margin-left: 6px;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        &--linea {
          height: 1px;
          background-color: $light-gray;
          width: 100%;
          margin-bottom: 10px;
        }

        &--descuento {
          margin: 5px;
          border-radius: $br-sm;
          padding: 7px 10px;
          width: 20%;
          height: 40px;
          border: 1px solid $gray;
        }

        &--remove {
          height: 30px;
          width: 30px;
          margin-left: 0px;
          margin-top: 40px;

          img {
            width: 100%;
            filter: invert(55%) sepia(6%) saturate(12%) hue-rotate(45deg)
              brightness(92%) contrast(94%);
          }
        }
      }

      &--add {
        height: 36px;
        width: 36px;
        margin-left: 25px;
        margin-top: 25px;

        img {
          width: 100%;
          filter: invert(55%) sepia(6%) saturate(12%) hue-rotate(45deg)
            brightness(92%) contrast(94%);
        }
      }
    }

    &__linea {
      height: 1px;
      background-color: $light-gray;
      width: 100%;
    }

    // Pago ------------------------------

    &--pago {
      display: flex;
      flex-direction: column;
      padding: 5%;

      &--sup {
        display: flex;
        justify-content: space-between;
      }

      &--fecha {
        width: 49%;
        margin: 5px;
        border-radius: $br-sm;
        padding: 7px 10px;
        height: 40px;
        border: 1px solid $gray;

        &--dp {
          width: 100%;
        }
      }

      &--medio {
        width: 49%;
        margin: 5px;
        border-radius: $br-sm;
        padding: 7px 10px;
        height: 40px;
        border: 1px solid $gray;
      }

      &--inf {
        display: flex;
        justify-content: space-between;
      }

      &--tipo {
        width: 48%;
        margin: 5px;
        border-radius: $br-sm;
        padding: 7px 10px;
        height: 40px;
        border: 1px solid $gray;

        &--cuotas {
          width: 48%;
          margin: 5px;
          border-radius: $br-sm;
          padding: 7px 10px;
          height: 40px;
          border: 1px solid $gray;
        }
      }
    }

    &--submit {
      width: 100%;
      padding: 0 2%;
      margin-top: 50px;

      button {
        width: 100%;
        background-color: $primary;
        height: 40px;
        border-radius: 10px;
        color: $light;
        font-size: 16px;
        font-weight: bold;

      }
    }
  }
}

//check box --------------------------------
.checkNuevo {
  position: relative;
  width: $ch-w-n;
  height: $ch-h-n;
  margin-bottom: 10px;

  &--input {
    position: absolute;
    width: $ch-w-n;
    height: $ch-h-n;
    opacity: 0;
  }

  &--shape {
    position: absolute;
    width: $ch-w-n;
    height: $ch-h-n;
    pointer-events: none;
  }

  &--shape::before {
    content: "Existente";
    position: absolute;
    background-color: $dark-gray;
    width: $ch-w-n;
    height: $ch-h-n;
    border-radius: $ch-h-n/2;
    color: $light;
    padding-top: 7px;
    padding-left: 25px;
    font-size: 10px;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  }

  &--shape::after {
    content: "";
    position: absolute;
    background-color: $light;
    width: $ch-h-dot-n;
    height: $ch-h-dot-n;
    border-radius: $ch-h-dot-n/2;
    top: 4px;
    left: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
  }

  &--input:checked ~ &--shape::after {
    left: $ch-desp-n;
  }

  &--input:checked ~ &--shape::before {
    background-color: $primary;
    padding-left: 8px;
  }
}

.checkDescuento {
  position: relative;
  width: $ch-w-d;
  height: $ch-h-d;
  margin-bottom: 10px;

  &--input {
    position: absolute;
    width: $ch-w-d;
    height: $ch-h-d;
    opacity: 0;
  }

  &--shape {
    position: absolute;
    width: $ch-w-d;
    height: $ch-h-d;
    pointer-events: none;
  }

  &--shape::before {
    content: "Descuento";
    position: absolute;
    background-color: $dark-gray;
    width: $ch-w-d;
    height: $ch-h-d;
    border-radius: $ch-h-d/2;
    color: $light;
    padding-top: 7px;
    padding-left: 25px;
    font-size: 10px;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  }

  &--shape::after {
    content: "";
    position: absolute;
    background-color: $light;
    width: $ch-h-dot-d;
    height: $ch-h-dot-d;
    border-radius: $ch-h-dot-d/2;
    top: 4px;
    left: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
  }

  &--input:checked ~ &--shape::after {
    left: $ch-desp-d;
  }

  &--input:checked ~ &--shape::before {
    background-color: $primary;
    padding-left: 8px;
  }
}
