.homeCharts {
  margin: 0 auto;
  width: 100%;

  &__container {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 15px;
    margin-top: 5px;


    &__row {
      display: flex;
      justify-content: space-between;
      width: 85%;
      max-width: 700px;
      background-color: $dk-card;
      border-radius: 10px;
      box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.5);
    
      &--box {
        position: relative; // Necesario para posicionar el pseudo-elemento
        
        width: 32%;
        max-width: 180px;
        padding: 20px;
        text-align: right;
        
        p {
          font-size: 14px;
          color: $dk-txt-mid;
          margin-bottom: 7px;
          text-align: left;
        }
    
        h4 {
          font-size: 18px;
          font-weight: bold;
          color: $dk-txt-light;
          text-align: left;
        }
    
        // Pseudo-elemento para la línea vertical
        &::before {
          content: '';
          position: absolute;
          top: 20%;
          bottom: 0;
          right: 0;
          width: 2px; // Ancho de la línea vertical
          height: 60%;
          background-color: $dk-bg;
        }
    
        // Estilo para el último elemento --box
        &:last-child::before {
          display: none; // Ocultar la línea vertical en el último elemento
        }
      }
    }
    
    &--chartVentas {
      width: 85%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      &--container {
        padding: 20px;
        width: 100%;
        background-color: $dk-card;
        border-radius: 10px;
        box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.5);


        h2 {
          font-size: 16px;
          color: $dk-txt-mid;
          margin-bottom: 20px;
          text-align: left;
        }



      }
    }

    &--chartVentasQuartet {
      width: 85%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      &--container {
        padding: 20px;
        width: 100%;
        background-color: $dk-card;
        border-radius: 10px;
        box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.5);


        h2 {
          font-size: 16px;
          color: $dk-txt-mid;
          margin-bottom: 20px;
          text-align: left;
        }



      }
    }

    &--clientList {
      width: 85%;
      max-width: 700px;
      margin-top: 20px;

      &--container{
        padding: 20px;
        width: 100%;
        background-color: $dk-card;
        border-radius: 10px;
        box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.5);

        h2{
          font-size: 16px;
          color: $dk-txt-mid;
          margin-bottom: 20px;
          text-align: left;
        }
  
        &--tbl{
          width: 100%;
          text-align: left;
        }

        &--th{
          height: 34px;
          color:$dk-txt-mid;
          font-size: 16px;
        }

        &--trb{
          height: 26px;
          color:$dk-txt-light;
          font-size: 14px;
        }





      }


    }



  }
}
