@import "./variables.sass";

.layout {
  display: flex;

  &__navBar {
    width: 25%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);

    nav {
      display: flex;
      flex-direction: column;
    }
  }

  &__container {
    flex: auto;
    background-color: rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--form {
      &-nombre {
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
        border: 1px solid black;
        padding: 11px;
        

        & input {
          padding: 5px 10px;
          margin: 5px 5px;
        }
      }

      &-producto {
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
        border: 1px solid black;
        padding: 11px;

        & input {
          padding: 5px 10px;
          margin: 5px 5px;

        }

        & select {
          padding: 5px 10px;
          margin: 5px 5px;
          width: 100%;

        }

        & button {
          width: 100%;
        }

        .productoIt{
          padding: 15px 10px;
          border: 1px solid black;
          padding: 11px;
        }


        .addButton{
          margin-top: 25px;
        }

      }

      &-pago {
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
        border: 1px solid black;
        padding: 11px;


        & input {
          padding: 5px 10px;
          margin: 5px 5px;

        }

        & select {
          padding: 5px 10px;
          margin: 5px 5px;

        }

        & button {
          width: 100%;
        }
      }
    }
  }
}
