@import "./variables.sass";

.layout {
  display: flex;

  &__navBar {
    width: 25%;
    padding: 30px;

    nav {
      display: flex;
      flex-direction: column;
    }
  }

  &__container {
    flex: auto;

    &--form {

      .formik {
        display: flex;
        flex-direction: column;
        padding: 20px 50px;

        &--label {
          margin-bottom: 5px;
        }

        &--field {
          margin-bottom: 24px;
          padding: 10px;
        }

        &--button {
          padding: 9px 33px;
          margin: 0 auto;
        }
      }
    }
  }
}
