.navbar {
  display: flex;
  flex-direction: column;
  background-color: $dark;
  color: $light;
  padding: 10px;
  margin: 20px 0 20px 20px;


  border-radius: $br-md;
  min-width: 200px;

  nav {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      color: $light;
      font-size: $txt-sm;
      width: 100%;
      height: 40px;
      padding-left: 15px;
      border-radius: 7px;
    }

    a:hover {
      background-color: $primary;
    }
  }

  // button {
  //   width: 100%;
  //   font-size: $txt-sm;
  //   background-color: aqua;
  // }
}
