//colors
$primary:#3592FF;
$white:rgb(255, 255, 255);
$dark:rgb(21, 21, 21);
$light:rgb(244, 244, 244);
$light-gray:rgb(204, 204, 204);
$gray:rgb(132, 132, 132);
$dark-gray:rgb(74, 74, 74);


//text
$txt-sm:16px;
$txt-md:20px;
$txt-lg:28px;


//checkBox
$ch-w: 35px;
$ch-h: 15px;
$ch-h-dot: $ch-h*1.2;

$ch-tp:7px;
$ch-lf:5px;


//border
$br-md: 25px;
$br-sm: 10px;
