//colors
$primary:#3592FF;
$white:rgb(255, 255, 255);
$dark:rgb(21, 21, 21);
$light:rgb(244, 244, 244);
$light-gray:rgb(204, 204, 204);
$gray:rgb(132, 132, 132);
$gray-op:rgba(132, 132, 132,.5);
$dark-gray:rgb(74, 74, 74);
$danger:rgb(255, 68, 118);
$ok:rgb(14, 214, 141);


//text
$txt-sm:16px;
$txt-md:20px;
$txt-lg:28px;


//checkBox-nuevo
$ch-w-n: 85px;
$ch-h-n: 24px;
$ch-h-dot-n: 17px;
$ch-desp-n: 65px;

//checkBox-descuento
$ch-w-d:85px;
$ch-h-d: 24px;
$ch-h-dot-d: 17px;
$ch-desp-d: 65px;

//checkBox-activo
$ch-w-a: 65px;
$ch-h-a: 24px;
$ch-h-dot-a: 17px;
$ch-desp-a: 45px;


//border
$br-md: 25px;
$br-sm: 10px;


//ancho maximo
$max-w: 800px;
